.aboutUs{
    background-image: url('https://i.ibb.co/JQtBjdq/pust-lake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}